body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
h1 {
    margin: 0;
}
header{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
}
main{
    padding: 10px;
}
footer{
    padding: 10px;
    background-color: yellow;
    text-align: center;
    flex-wrap: wrap;
}
.content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.box{
    background-color: red;
    border: 1px solid black;
    padding: 90px;
    color: white;
    font-size: xx-large;
   
}
.main-title{
    background-color: rgb(13, 66, 13);
    padding: 30px;
}
@media (max-width : 600px){
    body{
        background-color: yellow;
    }
}
@media (min-width :650px) and (max-width :900px){
    .box{
        background-color: blue;
        padding: 40px;
        color: red;
    }
        .box:nth-child(1) {
            display: none;
        }
}
